[submodule "PHP"]
	path = PHP
	url = https://github.com/freebook/PHP.git
[submodule "Python"]
	path = Python
	url = https://github.com/freebook/Python.git
[submodule "Perl"]
	path = Perl
	url = https://github.com/freebook/Perl.git
[submodule "Java"]
	path = Java
	url = https://github.com/freebook/Java.git
[submodule "Python/common"]
	path = Python/common
	url = https://github.com/freebook/common.git
[submodule "Python/docbook-xsl"]
	path = Python/docbook-xsl
	url = https://github.com/freebook/docbook-xsl.git
[submodule "common"]
	path = common
	url = https://github.com/freebook/common.git
[submodule "docbook-xsl"]
	path = docbook-xsl
	url = https://github.com/freebook/docbook-xsl.git
